@use "./variables.scss" as *;

@mixin ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

@mixin nav_link_text {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0%;
  color: $accient_text_color;

  &_accient {
    color: $primary_text_color;
  }
}

@mixin span_text {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: 10px;
  line-height: 11.72px;
  letter-spacing: 0%;
  color: $accient_text_color;
}

@mixin title {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: 18px;
  line-height: 21.09px;
  letter-spacing: 0%;
  color: $primary_text_color;
}

@mixin text {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.1px;
  color: $primary_text_color;

  &_accient {
    color: $accient_text_color;
  }
}

@mixin border-bottom {
  border-bottom: 1px solid $border_color;
}

@mixin border-right {
  border-right: 1px solid $border_color;
}

@mixin border-top {
  border-top: 1px solid $border_color;
}

@mixin border-def {
  border: 1px solid $border_color;
}

@mixin grid_by_work_list {
  display: grid;
  grid-template-columns: 110px 1fr repeat(4, 200px);
}
