$primary_background_color: #27272A;
$second_background_color: #202124;
$accent_background_color: #A1A1AA;

$primary_text_color: #FFFFFF;
$accient_text_color: #A1A1AA;

$border_color: #414144;
$accient_border_color: #414144;
$span_border_color: #C6C6C6;

$icon_color: #A1A1AA;
$icon_nav_color: #FFFFFF;
$accident_icon_color: #DF4444;

$font_family: 'Roboto';

$font_weight: 400;