@use "../../utils/styles/variables.scss" as *;
@use "../../utils/styles/mixin.scss" as *;

.section {
  @include border-right;
  max-width: 240px;
}

.titleBox {
  @include border-bottom;
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 0 12px;
  grid-template-areas: "title button" "abbr button";
  padding: 8px 8px 8px 20px;

  &__title {
    grid-area: title;
  }

  &__abbr {
    grid-area: abbr;
  }

  &__button {
    grid-area: button;
  }
}

.title {
  @include nav_link_text;
}

.abbr {
  @include span_text;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  aspect-ratio: 1/1;
}

.icon * {
  fill: $icon_nav_color;
}

.ul {
  @include ul;
}
