@use "../../utils/styles/variables.scss" as *;
@use "../../utils/styles/mixin.scss" as *;

.li {
  &_active {
    background-color: $accent_background_color;
  }
}

.a {
  display: inline-block;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

.text {
  @include nav_link_text;
  &{
    display: flex;
    background-color: inherit;
    margin: 5px 20px;
    align-items: center;
  }

  &::before {
    content: url("../../images/nav_icon.svg");
    display: inline-block;
    margin-right: 14px;
    width: 22px;
    height: 22px;
  }
}
