@use "../../utils/styles/variables.scss" as *;
@use "../../utils/styles/mixin.scss" as *;

.article {
  @include grid_by_work_list;
  height: 60px;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;

    &:first-of-type {
      justify-content: start;
    }
  }
}

.buttonBox {
  border-radius: 6px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  &:hover {
    background-color: $accient_border_color;
    width: 55px;
  }

  &:hover > .button_delete {
    display: block;
  }

  &_unactive {
    &:hover {
      cursor: default;
      background-color: inherit;
      width: 22px;
    }

    &:hover > .button_delete {
      display: none
    }
  }

  &__horizont {
    border: 1px solid $span_border_color;
    display: block;
    width: 11px;
    height: 0px;
    position: absolute;
    top: 13px;
    left: -8px;
  }

  &__vertical {
    border: 1px solid $span_border_color;
    display: block;
    width: 0px;
    height: 52px;
    z-index: 1;
    position: absolute;
    top: -40px;
    left: -8px;
  }
}

.button {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: inherit;
  position: relative;
  z-index: 3;

  &:hover {
    cursor: pointer;
  }

  &_create {
    background-image: url("../../images/text_snnipet.svg");
  }

  &_delete {
    display: none;
    background-image: url("../../images/trash_fill.svg");
  }
}

.input {
  @include border-def;
  @include text;
  & {
    width: 100%;
    border-radius: 6px;
    padding: 10px;
  }

  &:not(&:disabled) {
    color: $accient_text_color;
  }

  &:disabled {
    width: auto;
    margin: 0 auto 0 0;
    border: none;
  }
}
